{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SWIMMING{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-100 min-h-screen">
    <!-- Navbar -->
    <nav class="bg-blue-600 w-full py-3">
        <div class="container mx-auto flex justify-between items-center px-4">
            <a href="{% url 'home' %}" class="text-white font-bold text-xl">SWIMMING</a>
            <div>
                <a href="{% url 'login' %}" class="text-white mr-4 hover:text-blue-300">Entrar</a>
                <a href="{% url 'user_create' %}" class="text-white hover:text-blue-300">Cadastre-se</a>
            </div>
        </div>
    </nav>
    <!-- Conteúdo Principal -->
    <div class="container mx-auto p-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
