<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Treinador</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-100 flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
	<h1 class="text-3xl font-bold text-center text-blue-600 mb-6">Cadastro de Treinador</h1>
	<form method="post" action="{% url 'treinador_create' %}">
  	{% csrf_token %}
  	{{ form.non_field_errors }}
  	{% for field in form %}
  	<div class="mb-4">
    	{{ field.label_tag }}
    	{{ field }}
    	{{ field.errors }}
  	</div>
  	{% endfor %}
  	<button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700">
    	Cadastrar
  	</button>
	</form>
  </div>
</body>
</html>


